#wrap {
    width: 100%;
}

.inner {
    width: 1200px; margin: auto;
}

#header {
    width: 100%;
    background: #686C77;
}
#header .inner{
    background: #d3d3d3;
    height: 155px;
}

#main {
    width: 100%;
    /* height: 1470px; */
    /* box-sizing: border-box; */
}

#section {
    width: 100%;
    height: 1470px;
}

#main .inner h2 {
    padding-top: 90px;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

#main .inner img {
    padding-bottom: 60px;
}

#main .inner h3 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 30px;
}

#main .inner p {
    margin-bottom: 25px;
    font-size: 15px;
}

#footer {
    width: 100%;
    background: #d3d3d3;
}
#footer .inner {
    background: #ACACAC;
    height: 250px;
}